<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
  <meta name="author" content="Webpixels">
  <title>TimeSheet</title>
  <!-- Fonts -->
  <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700}" rel="stylesheet">
  <!-- Theme CSS -->
  <link type="text/css" th:href="@{/assets/css/theme.css}" rel="stylesheet">
  <!-- Demo CSS - No need to use these in your project -->
  <link type="text/css" th:href="@{/assets/css/demo.css}" rel="stylesheet">
</head>
<main class="main">
  <aside class="sidebar" id="nav_docs">
    <div class="sidebar-brand">
      <h1 class="font-weight-400"><span class="font-weight-700">TimeSheet</span> Mangager Tools</a></h1>
    </div>
    <div class="scrollbar-inner">
      <ul class="navigation pr-3">
        <li class="navigation-title">Auth Manager</li>
        <li class="navigation-item">
          <a th:href="@{/manager/page/authowner}" class="navigation-link">As Project Owner</a>
        </li>
        <li class="navigation-title">Profile Info Manager</li>
        <li class="navigation-item">
          <a th:href="@{/manager/page/projectowner}" class="navigation-link">As Project Owner</a>
        </li>
        <li class="navigation-item">
          <a th:href="@{/manager/page/mangagerowner}" class="navigation-link">As Manager Line</a>
        </li>
        <li class="navigation-title">TimeSheet Info Manager</li>
        <li class="navigation-item">
          <a th:href="@{/manager/page/thNew}" class="navigation-link">New TimeSheet</a>
          <a th:href="@{/manager/page/thProgress}" class="navigation-link">TimeSheet In Progress</a>
          <a th:href="@{/manager/page/thDone}" class="navigation-link">TimeSheet Finished</a>
        </li>
        <li class="navigation-title">Request Info Manager</li>
        <li class="navigation-item">
          <a th:href="@{/manager/page/requestPending}" class="navigation-link">Pending Request</a>
          <a th:href="@{/manager/page/requestDenyed}" class="navigation-link">Denyed Request</a>
          <a th:href="@{/manager/page/requestAllowed}" class="navigation-link">Allowed Request</a>
        </li>
      </ul>
    </div>
  </aside>
  <section class="content">
    <div class="header">
      <div class="navigation-trigger d-xl-none" data-action="aside-open" data-target=".sidebar">
        <div class="navigation-trigger-inner">
          <i class="navigation-trigger-line"></i>
          <i class="navigation-trigger-line"></i>
          <i class="navigation-trigger-line"></i>
        </div>
      </div>
      <div class="header-brand d-xl-none">
        <h1>TimeSheet Mangager Tools</a></h1>
      </div>
      <div class="header-nav ml-auto">
        <ul class="nav align-items-center">
          <li class="nav-item d-none d-md-inline-block">
            <span class="avatar avatar-lg bg-blue mr-3" th:text="${session.loginUser.nameZh}"></span>
          </li>
          <li class="nav-item ml-4">
            <button type="button" class="btn btn-primary">
              Notifications <span class="badge badge-light ml-2">4</span>
            </button>
          </li>
          <li class="nav-item d-none d-md-inline-block">
            <a class="nav-link" th:href="@{/manager/page/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <section class="slice bg-primary">
      <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space text-center text-lg-left">
          <div class="col-lg-7">
            <h1 class="heading h2 text-white strong-500">
              Need more information about Boomerang UI Kit?
            </h1>
            <p class="lead text-white mb-0">Take up one idea. Let the brain, muscles, nerves, every part of your body,
              be full of that idea, and just leave every other idea alone.</p>
          </div>
          <div class="col-lg-3 ml-lg-auto">
            <div class="text-center text-md-right">
              <a href="#" class="btn bg-secondary">
                Contact us
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="row" id="buttonList">
        <div class="progress-wrapper offset-md-6 col-md-3">
          <h2 class="progress-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Task completed</h2>
          <div class="progress" style="height: 16px;">
            <div class="progress-bar bg-green" role="progressbar" style="width: 0%;" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100" id="progressStatus">0%</div>
          </div>
        </div>

        <div class="dropdown col-md-2" style="margin: 0; padding: 0; width: 100%;">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" id="timesheetDate" style="width: 100%;">
          </button>
          <div class="dropdown-menu" id="timesheetOpt" style="width: 100%;">
            <!-- <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a> -->
          </div>
        </div>

        <div class="col-md-1" style="margin: 0; padding: 0;">
          <button type="button" class="btn btn-block btn-success" onclick='openThisThSeq()'
            id="updateAllFinishButton">Open This Timesheet</button>
        </div>
      </div>

      <table class="table table-hover table-cards align-items-center">
        <thead>
          <tr>
            <th scope='col'>Name</th>
            <th scope='col'>Account Num</th>
            <!-- <th scope='col'>Member Id</th> -->
            <th scope='col'>Start Date</th>
            <th scope='col'>End Date</th>
            <th scope='col'>Except Finish Date</th>
            <th scope='col'>Bank Holiday Date</th>
            <th scope='col'>Annual Leaving Date</th>
            <th scope='col'>Sick Leaving Date</th>
            <th scope='col'>Annual Leaving Days</th>
            <th scope='col'>Sick Leaving Days</th>
            <th scope='col'>Work Days</th>
            <th scope='col'>Act Work Days</th>
          </tr>
        </thead>
        <tbody id='timesheetTbody'>
        </tbody>
      </table>
    </section>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-block btn-danger" data-toggle="modal" data-target="#modal_5" hidden="true"
      id="noAccessPopUp">
      Danger modal
    </button>
    <!-- Modal -->
    <div class="modal modal-danger fade" id="modal_5" tabindex="1" role="dialog" aria-labelledby="modal_5"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal_title_6">Notification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="py-3 text-center">
              <i class="fas fa-exclamation-circle fa-4x"></i>
              <h4 class="heading mt-4" id="errorMsg"></h4>
              <p>
                You can easy create stackable modal boxes. For example, your inline content or Ajax response can contain
                a gallery:
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Got it</button>
          </div>
        </div>
      </div>
    </div>
    <section class="slice slice-lg">

      <div class="container">
        <div class="mb-5 text-center">
          <h3 class="heading h2">Stay tuned with our company news</h3>
          <div class="fluid-paragraph text-center">
            <p class="lead mb-0">Daily insights from our company</p>
          </div>
        </div>
        <div class="row cols-md-space cols-sm-space cols-xs-space">
          <div class="col-lg-4">
            <div class="card border-0">
              <img th:src="@{/assets/images/prv/img-1-800x600.jpg}" class="img-fluid img-center rounded z-depth-2">
              <div class="pt-4">
                <span class="text-muted">Oct 15, 2018</span>
                <a href="#" class="heading h4 d-block mt-1">Listen to the nature</a>
                <p class="mt-3">
                  When we strive to become better than we are, everything around us becomes better, too.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-0">
              <img th:src="@{/assets/images/prv/img-2-800x600.jpg}" class="img-fluid img-center rounded z-depth-2">
              <div class="pt-4">
                <span class="text-muted">Oct 15, 2018</span>
                <a href="#" class="heading h4 d-block mt-1">Listen to the nature</a>
                <p class="mt-3">
                  When we strive to become better than we are, everything around us becomes better, too.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card border-0">
              <img th:src="@{/assets/images/prv/img-3-800x600.jpg}" class="img-fluid img-center rounded z-depth-2">
              <div class="pt-4">
                <span class="text-muted">Oct 15, 2018</span>
                <a href="#" class="heading h4 d-block mt-1">Listen to the nature</a>
                <p class="mt-3">
                  When we strive to become better than we are, everything around us becomes better, too.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <a href="#" class="text-uppercase">
            All posts
            <i class="fas fa-arrow-right ml-2"></i>
          </a>
        </div>
      </div>
    </section>
  </section>
</main>
<footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="pr-lg-5">
          <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>Boomerang</strong> UI Kit</h1>
          <p>Boomerang is a high quality UI Kit built on top of the well known Bootstrap 4 Framework. This theme was
            designed as its own extended version of Bootstrap with multiple functionalities and controls added, extended
            color palette and beautiful typography.</p>
        </div>
      </div>
      <div class="col-6 col-md">
        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" th:href="@{#}">Cool stuff</a></li>
          <li><a class="text-muted" th:href="@{#}">Random feature</a></li>
          <li><a class="text-muted" th:href="@{#}">Team feature</a></li>
          <li><a class="text-muted" th:href="@{#}">Stuff for developers</a></li>
          <li><a class="text-muted" th:href="@{#}">Another one</a></li>
          <li><a class="text-muted" th:href="@{#}">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Solutions</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" th:href="@{#}">Resource</a></li>
          <li><a class="text-muted" th:href="@{#}">Resource name</a></li>
          <li><a class="text-muted" th:href="@{#}">Another resource</a></li>
          <li><a class="text-muted" th:href="@{#}">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" th:href="@{#}">Business</a></li>
          <li><a class="text-muted" th:href="@{#}">Education</a></li>
          <li><a class="text-muted" th:href="@{#}">Government</a></li>
          <li><a class="text-muted" th:href="@{#}">Gaming</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 class="heading h6 text-uppercase font-weight-700 mb-3">About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" th:href="@{#}">Team</a></li>
          <li><a class="text-muted" th:href="@{#}">Locations</a></li>
          <li><a class="text-muted" th:href="@{#}">Privacy</a></li>
          <li><a class="text-muted" th:href="@{#}">Terms</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="d-flex align-items-center">
      <span class="">
        &copy; 2018 <a th:href="@{https://webpixels.io/}" class="footer-link" target="_blank">Webpixels</a>. All rights
        reserved.
      </span>
      <ul class="nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{https://instagram.com/webpixelsofficial}" target="_blank"><i
              class="fab fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{https://facebook.com/webpixels}" target="_blank"><i
              class="fab fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{https://github.com/webpixels}" target="_blank"><i
              class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{https://dribbble.com/webpixels}" target="_blank"><i
              class="fab fa-dribbble"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- Core -->
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/vendor/popper/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
<!-- FontAwesome 5 -->
<script th:src="@{/assets/vendor/fontawesome/js/fontawesome-all.min.js}" defer></script>
<!-- Page plugins -->
<script th:src="@{/assets/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
<script th:src="@{/assets/vendor/input-mask/input-mask.min.js}"></script>
<script th:src="@{/assets/vendor/nouislider/js/nouislider.min.js}"></script>
<script th:src="@{/assets/vendor/textarea-autosize/textarea-autosize.min.js}"></script>
<!-- Theme JS -->
<script th:src="@{/assets/js/theme.js}"></script>
<script>
    //jump to this page 
  thJumpPage("Y", null);

    //changeTimesheetSeq
  var changeTimesheetSeq = function () {
    thJumpPage("Y", event.target.name);
  }

  //openThissheetSeq
  var openThisThSeq = function () {
    $.ajax(
      {
        type: "POST",
        contentType: 'application/x-www-form-urlencoded',
        //contentType: "application/json",
        data: {
          seqId: event.target.name
        },
        url: "/manager/timesheet/openTimesheet",
        success: function (data) {
          if (data.code == '200') {
            thJumpPage("Y", null);
          }
          else {
            $("#accessTbody").empty();
            $("#errorMsg").text("Opps, Update With Error,Please Retry!");
            $("#noAccessPopUp").click();
            thJumpPage("Y", null);
          }
        },
        error: function (data) {
          $("#accessTbody").empty();
          $("#errorMsg").text("Opps, Update With Error,Please Retry!");
          $("#noAccessPopUp").click();
          thJumpPage("Y", null);
        }
      })
  }
  function thJumpPage(finished, seqId) {
    $("#updateAllFinishButton").removeAttr("disabled");
    $.ajax(
      {
        type: 'GET',
        dataType: "json",
        url: "/manager/auth/check?type=timesheet_access",
        success: function (data) {
          if (data.code == '006') {
            $("#errorMsg").text("You do not have access to find this info!");
            $("#noAccessPopUp").click();
            $("#updateAllFinishButton").attr("disabled", true);
          } else {
            if (seqId == null) {
              link = "/manager/timesheet/getTimesheetInfo?finished=" + finished
            } else {
              link = "/manager/timesheet/getTimesheetInfo?finished=" + finished + "&seqId=" + seqId
            }
            $.ajax(
              {
                type: 'GET',
                dataType: "json",
                url: link,
                success: function (data) {
                  if (data.code == '010') {
                    $("#accessTbody").empty();
                    $("#errorMsg").text("Opps,No Data In this List!");
                    $("#noAccessPopUp").click();
                    $("#timesheetOpt").empty();
                    $("#timesheetTbody").empty();
                    $("#timesheetDate").text("No Data Exist");
                    $("#progressStatus").css("width","0%");
                    $("#progressStatus").text("0%");
                    $("#updateAllFinishButton").attr("disabled", true);
                  } else {
                    $("#timesheetOpt").empty();
                    $("#timesheetTbody").empty();
                    $("#updateAllFinishButton").attr("disabled", false);
                    $("#updateAllFinishButton").attr("name", data.data.selectedSeqId);
                    $("#progressStatus").css("width", data.data.selectedProgress + "%");
                    $("#progressStatus").text(data.data.selectedProgress + "%");
                    $("#timesheetDate").text(new Date(data.data.selectedStartDate).toLocaleDateString() + "~" + new Date(data.data.selectedEndDate).toLocaleDateString());
                    let context = "";
                    for (var key in data.data.allOptionList) {
                      $("#timesheetOpt").append("<a class='dropdown-item' onclick='changeTimesheetSeq()' style='width: 100%;' name=" + key + ">" + data.data.allOptionList[key] + "</a>")
                    }
                    for (var key in data.data.allSeqsDetailInfo) {
                      bankHolidayDate = data.data.allSeqsDetailInfo[key].bankHolidayDate === null ? null : new Date(data.data.allSeqsDetailInfo[key].bankHolidayDate).toLocaleDateString();
                      annualLeavingDate = data.data.allSeqsDetailInfo[key].annualLeavingDate === null ? null : data.data.allSeqsDetailInfo[key].annualLeavingDate;
                      sickLeavingDate = data.data.allSeqsDetailInfo[key].sickLeavingDate === null ? null : data.data.allSeqsDetailInfo[key].sickLeavingDate;
                      annualLeavingDays = data.data.allSeqsDetailInfo[key].annualLeavingDays === null ? null : data.data.allSeqsDetailInfo[key].annualLeavingDays;
                      sickLeavingDays = data.data.allSeqsDetailInfo[key].sickLeavingDays === null ? null : data.data.allSeqsDetailInfo[key].sickLeavingDays;
                      context += "<tr class='bg-white' scope='row'>"
                        + "<td>" + data.data.allSeqsDetailInfo[key].memberName + "</td>"
                        + "<td>" + data.data.allSeqsDetailInfo[key].accountNum + "</td>"
                        // + "<td>" + data.data.allSeqsDetailInfo[key].memberId + "</td>"
                        + "<td>" + new Date(data.data.allSeqsDetailInfo[key].startDate).toLocaleDateString() + "</td>"
                        + "<td>" + new Date(data.data.allSeqsDetailInfo[key].endDate).toLocaleDateString() + "</td>"
                        + "<td>" + new Date(data.data.allSeqsDetailInfo[key].exceptFinishDate).toLocaleDateString() + "</td>"
                        + "<td>" + bankHolidayDate + "</td>"
                        + "<td>" + annualLeavingDate + "</td>"
                        + "<td>" + sickLeavingDate + "</td>"
                        + "<td>" + annualLeavingDays + "</td>"
                        + "<td>" + sickLeavingDays + "</td>"
                        + "<td>" + data.data.allSeqsDetailInfo[key].workDays+ "</td>"
                        + "<td>" + data.data.allSeqsDetailInfo[key].actWorkDays + "</td>"
                        
                    }
                    $("#timesheetTbody").append($(context));
                  }
                },
                error: function (data) {
                  $("#timesheetOpt").empty();
                  $("#timesheetTbody").empty();
                  $("#timesheetDate").text("No Data Exist");
                  $("#updateAllFinishButton").attr("disabled", true);
                  $("#progressStatus").css("width","0%");
                  $("#progressStatus").text("0%");

                  $("#accessTbody").empty();
                  $("#errorMsg").text("Opps,Connect Error Happen Please Retry!");
                  $("#noAccessPopUp").click();
                }
              })
          }
        },
        error: function (data) {
          $("#timesheetOpt").empty();
          $("#timesheetTbody").empty();
          $("#timesheetDate").text("No Data Exist");
          $("#updateAllFinishButton").attr("disabled", true);
          $("#progressStatus").css("width","0%");
          $("#progressStatus").text("0%");

          $("#accessTbody").empty();
          $("#errorMsg").text("Opps,Connect Error Happen Please Retry!");
          $("#noAccessPopUp").click();
        }
      });
  }
</script>